.a-barraL {
    height: 850px;
    width: 300px;
    background-color: rgba(5, 5, 5, 0.774);
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.a-br-custom-button {
    border: 1px black solid;
    padding: 4%;
    background-color: #007bff;
    width: 300px;
    border-radius: 0;
    color: rgba(5, 5, 5, 0.774);
}

.abr-my {
    margin: 60px 0 140px 0;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, 
.btn-outline-danger:not(:disabled):not(.disabled):active, 
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #0a59ad;
}
.btn-outline-danger:hover {
    border: 1px black solid;
    color: #fff;
    background-color: #0a59ad;
}
.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem #0a59ad;
}