.a-barraL {
    height: 700px;
    width: 300px;
    background-color: rgba(5, 5, 5, 0.774);
}
.a-br-custom-button {
    padding: 4%;
    background-color: #007bff;
    width: 300px;
    border-radius: 0;
    color: rgba(5, 5, 5, 0.774);
}

.abr-my {
    margin: 60px 0 140px 0;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, 
.btn-outline-danger:not(:disabled):not(.disabled):active, 
.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #0a59ad;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #0a59ad;
}
.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem #0a59ad;
}