.thead-pedidos {
    background-color: #343a40;
    color: white;
    padding: 0%;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.tablePedidosPrincipal{
    width: 1051px;
}
.tablePedidos{
    width: 100%;
}
.w-95 {
    width: 95%;
}
.search-input-pedidos {
    border-bottom: 2px rgb(46, 45, 45) solid;
    background-color: #2e2e2e;
    padding: 10px;
}
@media (max-Width: 780px){
    .thead-pedidos {
        background-color: #343a40;
        color: white;
        padding: 0%;
    }
    .tr{
        font-size: 20%;

    }
    .tablePedidosPrincipal{
        width: 100%;
    }
    .tablePedidos{
        width: 100%;
    }
}