
.CardDeSoporte{
    padding: 6%;
    width: 430px;
    display: flex;
    justify-content: center;
}
.Soporte{
    display: flex;
    justify-content: center;
    font-family: 'Russo One', sans-serif;
}
.SoporteGeneral{
    align-items: center;
    margin: 2% 10%;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
@media (max-width: 748px){
    .CardDeSoporte{
        display: flex;
        justify-content: center;
        padding: 5%;
        width: 300px;
    }
    .text-center{
        font-size: 1rem;
    }
    .Soporte{
        display: flex;
        flex-direction: column-reverse;
    }
    .SoporteGeneral{
        align-items: center;
        margin: 2% 0%;
    }
}