.SoporteGeneral{
    font-family: 'Courier New', Courier, monospace;
}
.Soporte{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.CardDeSoporte{
    padding: 6%;
    width: 420px;
}
@media (max-width: 748px){
    .CardDeSoporte{
        padding: 4% 1%;
        margin: 2%;
        width: 96%;
    }
    .text-center{
        font-size: 1rem;
    }
    .Soporte{
        display: flex;
        flex-direction: column-reverse;
    }
    .SoporteGeneral{
        align-items: center;
        margin: 2% 0%;
    }
}