.cardo {
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}