.Barra{
    text-align: center;
    background: rgba(5, 5, 5, 0.774);
    width: 300px;
    text-decoration: none;
}
.comiteButton{
    display: none;
}
a { 
    color: #d3d0d0; 
}
.TituloBorder{
    color: rgb(212, 208, 201);
    background: #007bff;
    padding: 4% 0px;
}