.Barra{
    text-align: center;
    background: #2e2e2e;
    width: 300px;
    min-height: 100vh;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.buttonOptions:hover{
    color: rgb(255, 255, 255);
    background: #29292996;
}
.comiteButton{
    display: none;
}
a { 
    color: #d3d0d0; 
}
.TituloBorder{
    color: rgb(196, 191, 184);
    background: #0474cf;
    padding: 4% 0px;
}