.App {
    text-align: center;
}

.footerAuto {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}
.Footer {
    border-top: 1px #2e2e2e2f solid;
    margin-top: auto;
    background: #242323;
    padding: 2% 0%;
    color: #eee8e8;
    font-family: 'Courier New', Courier, monospace;
}
.navBar {
    display: flex;
    justify-content: space-between;
    
}
.card {
    background: rgba(58, 55, 55, 0.452);
    width: 100%;
    margin: 10% 0%;
}
.ladnPage {
    margin: 1% 0%;
    display: flex;
    justify-content: center;
}
.carrucel {
    width: 625px;
}
.cards {
    margin: 0%;
    width: 330px;
}
.cardsPage {
    margin: 0% 14%;
}
.PhotoCard {
    border: #1c1c1dbb solid 1px;
    border-radius: 50%;
    width: 182px;
    height: 182px;
}
.photo {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
.CardPerfil {
    width: 300px;
}
.text {
    color: rgba(230, 220, 220, 0.945);
    font-family: 'Courier New', Courier, monospace;
}
.search {
    background-color: #0474cf;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 16px 0 #030303;
}
.cardPacks {
    width: 73%;
}
.agregarProducto {
    width: 100%;
    padding: 2%;
    background: #005fc4bd;
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
}
.opcionts {
    margin: 0% 25px;
}
.NavbarRight{
    right: 0;
}
.text {
    color: rgb(255, 255, 255);
    font-family: 'Russo One', sans-serif;
}
.modalDeSoporte {
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.perfilDescription {
    display: flex;
}
.photoPerfil {
    display: flex;
    margin: 2% 5%;
}
.descripcion {
    color: rgba(0, 0, 0, 0.808);
    margin: 2%;
    text-align: left;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.navbarDisplay {
    color: rgb(7, 7, 7);
    font-family: 'Courier New', Courier, monospace;
    
}
.barraLateral{
    display: block;
}
.tituloHeader{
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.NavSesion{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.CardsImagenes{
    height: 180px;
}
@media (max-width: 748px) {
    .PhotoCard {
        width: 138px;
    }
    .photo {
        width: 130px;
    }
    .cardPacks {
        width: 100%;
    }
    .perfilDescription {
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .photoPerfil {
        display: flex;
        justify-content: center;
        margin: 2% 5%;
    }
    .descripcion {
        margin: 2%;
        text-align: center;
    }
    .barraLateral{
        display: none;
    }
    .opcionts {
        margin: 0% 65px;
    }
}
