.App {
  text-align: center;
}
.formulario{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4% 0px;
}
.DentroDeForm{
  width: 50%;
  padding: 3%;
  border: 2px solid rgba(49, 48, 48, 0.705);
  border-radius: 1rem;
}
.Footer{
  background: rgba(19, 18, 18, 0.897);
  padding: 2% 0%;
  color: aliceblue;
}
.navBar{
  display: flex;
  justify-content: space-between;
}
.ladnPage{
  margin: 2px 2px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.carrucel{
  max-width: 625px;
}

.cards{
  width: 320px;
}
.cardsPage{
  margin: 4% 14%;
}