.thead {
    background-color: rgb(50, 65, 88);
    color: white;
    border-bottom: 3px black solid;
}
.w-95 {
    width: 95%;
}
.search-input {
    background-color: rgb(50, 65, 88);
    border-top: 3px black solid;
    padding: 10px;
}