.thead {
    background-color: #343a40;
    color: white;
    padding: 2%;
    font-family: 'Heebo', sans-serif;
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'New Tegomin', serif;
    font-family: 'Teko', sans-serif;
    font-family: 'Yatra One', cursive;
}
.w-95 {
    width: 95%;
}
.search-input {
    border-bottom: 2px #2e2e2e solid;
    background-color: #2e2e2e;
    padding: 10px;
}